.message {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 20px;
}

.imageAndText {
    display: flex;
}

.imageAndText img {
    height: 50px;
    width: 50px;
    order: 1;
}

.text {
    background-color: #216aa8;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 15px;
    position: relative;
}

.text:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: -12px;
    border-bottom: 20px solid #216aa8;
    border-right: 20px solid transparent;
}

.name {

}

.messageText {

}

.time {
    position: absolute;
    bottom: -20px;
    right: 7px;
}