.button {
    background-color: #387bf6;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    border: none;
}

.disabled {
    background-color: #b0bbd3;
    color: #ababab;
}

.secondary {
    background-color: transparent;
    border: #387bf6 2px solid;
    color: #387bf6;
}

.default {
}

.red {
    background-color: #f63838;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
